$bg: #F5F5F5;

$white1: #ffffff;

$black1: #000000;
$black2: #00000099;
$black3: #0000001f;
$black4: #000000de;
$black5: #000000de;


$gray1: #00000061;

$blue1: #276cb2;
$blue2: #095aab;
$blue3: #1976D2;